@import url("https://fonts.cdnfonts.com/css/basis-grotesque-pro");

* {
  box-sizing: border-box;
}
body {
  margin-bottom: 2%;
}
#Card_Catalog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 60px;
  gap: 20px;
  justify-content: center;
  margin-top: -2%;
  /* position: absolute; */
  width: 100%;
  height: auto;
  left: 0px;
  top: 249px;
  flex-wrap: wrap;

  justify-content: center;
  margin-top: 3%;
}

#Card_Foto_Catalog1 > img {
  width: 100%;
  height: auto;
  background-color: rgb(203, 208, 208);
}
#Card_Foto_Catalog1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 30%;
  height: 440px;
}

.jacket {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20%;

  text-align: center;
  margin-top: -13%;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 62px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -8%;
}

#price {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 135%;
  /* or 32px */

  text-align: center;

  /* Secondary */
  margin-top: -4%;
  color: black !important;
  flex: none;
  order: 1;
  flex-grow: 0;
}
#name {
  color: #080b13;
  opacity: 0.4;
}

#price{
  font-family: 'Basis Grotesque Pro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 135%;
/* or 32px */

text-align: center;

/* Secondary */
color: #080B13;

margin-top: -4%;
}

#sample_card_img{
  width: 100%;
  height: 60%;
}

.loading_div{

  justify-content: center;
  display: flex;
  align-items: center;
  height: 80vh;
  font-size: 4rem;

}