@import url("https://fonts.cdnfonts.com/css/basis-grotesque-pro");

body {
  box-sizing: border-box;
}
#fable_container {
  display: flex;
  margin-left: 80px;
  width: 15%;
  justify-content: space-between;
  /* flex-direction: row; */
}

p {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;

  color: #080b13;
}

#fable_foto {
  height: auto;
  width: 50%;
}



#fable_cart {
  display: flex;
  flex-direction: column;
  padding: 4px 10px 20px 10px;
  width: 50%;
  background: #ffffff;
}

.btn-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: 40%;
  height: 50px;

  background: rgba(60, 55, 55, 0.8);
  opacity: 0.5;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  text-align: center;

  color: #ffffff;
}

#con_div {
  display: flex;
  margin-left: 5%;
}
